@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
    var fullName = User.Identity.Name ?? "User";
    var initials = string.Join("", fullName.Split(" ").Select(n => n[0])).ToUpper();

    var pageDescriptor = ViewContext.ActionDescriptor as PageActionDescriptor;
    var currentPath = pageDescriptor?.ViewEnginePath;

}

<div class="col-md-2 d-none d-md-block bg-light sidebar shadow-sm">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img class="bi me-2" src="~/img/favicon-32x32.png" />
        <span class="fs-4">Rently</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a asp-page="#" class="nav-link @(currentPath == "/Account/Home" ? "active" : "")">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home" /></svg>
                Home
            </a>
        </li>
        <li>
            <a asp-page="/Account/Dashboard" class="nav-link @(currentPath == "/Account/Dashboard" ? "active" : "")">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2" /></svg>
                Dashboard
            </a>
        </li>
        <li>
            <a asp-page="/Account/Index" class="nav-link @(currentPath == "/Account/Index" ? "active" : "")">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid" /></svg>
                Property
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="btn btn-secondary rounded-circle d-flex align-items-center justify-content-center"
                  type="button"
                  id="profileDropdown"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="width: 40px; height: 40px;">
                @initials
                @* <img src="@profileImageUrl" class="rounded-circle me-2"> *@
            </span>
            <strong class="p-2">@fullName</strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li>
                <a class="dropdown-item" asp-page="/Account/Profile">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle" /></svg>
                    Profile
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form method="post" asp-page="/Account/Logout" class="dropdown-item p-0 m-0 border-0 bg-transparent">
                    <button type="submit" class="dropdown-item">Sign out</button>
                </form>
            </li>
        </ul>
    </div>
</div>

